<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="src/index.js" verb="*" modules="iisnode" resourceType="File" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" >
                    <match url=".*" />
                    <action type="Rewrite" url="src/index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode loggingEnabled="true" devErrorsEnabled="true"/>
    </system.webServer>
</configuration>
